<% action = @user.new_record? ? 'Create' : 'Update' %>
<h1><%= action %> User</h1>

<%= form_with model: @user, local: true do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.label :role %><br>
    <%= form.text_field :role, required: true %>
  </div>

  <div>
    <%= form.label :address %><br>
    <%= form.text_area :address, rows: 3, required: true %>
  </div>

  <div style="margin-top: 10px;">
    <%= form.submit action %>
  </div>
<% end %>

<%= link_to 'Back to All Users', users_path, style: 'margin-top: 20px; display: inline-block;' %>
